{% extends 'flatpages/default.html' %}
{% load custom_filters %}

<!-- Название у нас будет products -->
{% block title %}
Post
{% endblock title %}

<!-- В контенте на странице мы выводим все товары -->
{% block content %}
    {% if news %}
        <table>
            <tr>
                <td>Заголовок</td>
                <td>Дата публикации</td>
                <td>Текст</td>
            </tr>
            <tr>
                <td>{{news.title|censor}}</td>
                <td>{{news.date_time|date:'d M Y'}}</td>
                <td>{{news.text|censor}}</td>
            </tr>
        </table>
    {% endif %}
{% endblock content %}