<!--  наследуемся от шаблона default.html, который мы создавали для flatpages -->
{% extends 'flatpages/default.html' %}
{% load custom_filters %}

<!-- Название у нас будет products -->
{% block title %}
Post
{% endblock title %}

<!-- В контенте на странице мы выводим все товары -->
{% block content %}
<h1>Все новости</h1>
<h3> Всего публикаций: {{ news|length}} </h3>
    {% if news %}
        <table>
            <tr>
                <td>Заголовок</td>
                <td>Дата публикации</td>
                <td>Текст</td>
            </tr>
            {% for i in news %}
            <tr>
                <td>{{ i.title }}</td>
                <td>{{ i.date_time|date:'d M Y' }}</td>
                <td>{{ i.text|censor }}</td>

            </tr>
            {% endfor %}
        </table>
    {% else %}
        Новостей нет!
    {% endif %}
{% endblock content %}